# packages in environment at /opt/anaconda3/envs/240:
#
# Name                    Version                   Build  Channel
_py-xgboost-mutex         2.0                       cpu_0  
anyio                     4.2.0           py312hca03da5_0  
appnope                   0.1.4              pyhd8ed1ab_0    conda-forge
argon2-cffi               21.3.0             pyhd3eb1b0_0    anaconda
argon2-cffi-bindings      21.2.0          py312h80987f9_0    anaconda
arrow                     1.3.0                    pypi_0    pypi
asttokens                 2.4.1              pyhd8ed1ab_0    conda-forge
async-lru                 2.0.4           py312hca03da5_0  
attrs                     23.1.0          py312hca03da5_0    anaconda
babel                     2.11.0          py312hca03da5_0    anaconda
beautifulsoup4            4.12.2          py312hca03da5_0    anaconda
blas                      1.0                    openblas  
bleach                    4.1.0              pyhd3eb1b0_0    anaconda
bottleneck                1.3.7           py312ha86b861_0  
brotli                    1.0.9                h80987f9_8  
brotli-bin                1.0.9                h80987f9_8  
brotli-python             1.0.9           py312h313beb8_7    anaconda
bzip2                     1.0.8                h80987f9_6  
ca-certificates           2024.3.11            hca03da5_0  
certifi                   2024.2.2        py312hca03da5_0  
cffi                      1.16.0          py312h80987f9_0    anaconda
charset-normalizer        2.0.4              pyhd3eb1b0_0    anaconda
comm                      0.2.2              pyhd8ed1ab_0    conda-forge
contourpy                 1.2.0           py312h48ca7d4_0  
cryptography              41.0.3          py312hd4332d6_0    anaconda
cycler                    0.11.0             pyhd3eb1b0_0  
cyrus-sasl                2.1.28               h9131b1a_1    anaconda
debugpy                   1.6.7           py312h313beb8_0  
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
defusedxml                0.7.1              pyhd3eb1b0_0    anaconda
exceptiongroup            1.2.0              pyhd8ed1ab_2    conda-forge
executing                 2.0.1              pyhd8ed1ab_0    conda-forge
expat                     2.6.2                h313beb8_0  
fonttools                 4.51.0          py312h80987f9_0  
fqdn                      1.5.1                    pypi_0    pypi
freetype                  2.12.1               h1192e45_0  
gettext                   0.21.0               h13f89a0_1    anaconda
glib                      2.69.1               h514c7bf_2    anaconda
gst-plugins-base          1.14.1               h313beb8_1    anaconda
gstreamer                 1.14.1               h80987f9_1    anaconda
icu                       73.1                 h313beb8_0    anaconda
idna                      3.4             py312hca03da5_0    anaconda
imbalanced-learn          0.11.0          py312hca03da5_1  
importlib-metadata        7.1.0              pyha770c72_0    conda-forge
importlib_metadata        7.1.0                hd8ed1ab_0    conda-forge
ipykernel                 6.29.3             pyh3cd1d5f_0    conda-forge
ipython                   8.22.2             pyh707e725_0    conda-forge
ipython_genutils          0.2.0              pyhd3eb1b0_1    anaconda
ipywidgets                7.8.1           py312hca03da5_0  
isoduration               20.11.0                  pypi_0    pypi
jedi                      0.19.1             pyhd8ed1ab_0    conda-forge
jinja2                    3.1.2           py312hca03da5_0    anaconda
joblib                    1.4.0           py312hca03da5_0  
jpeg                      9e                   h80987f9_1  
json5                     0.9.6              pyhd3eb1b0_0    anaconda
jsonpointer               2.4                      pypi_0    pypi
jsonschema                4.19.2          py312hca03da5_0  
jsonschema-specifications 2023.7.1        py312hca03da5_0  
jupyter                   1.0.0           py312hca03da5_9  
jupyter-lsp               2.2.0           py312hca03da5_0  
jupyter_client            8.6.1              pyhd8ed1ab_0    conda-forge
jupyter_console           6.4.3              pyhd3eb1b0_0    anaconda
jupyter_core              5.5.0           py312hca03da5_0  
jupyter_events            0.8.0           py312hca03da5_0  
jupyter_server            2.10.0          py312hca03da5_0  
jupyter_server_terminals  0.4.4           py312hca03da5_1  
jupyterlab                4.0.11          py312hca03da5_0  
jupyterlab_pygments       0.1.2                      py_0    anaconda
jupyterlab_server         2.25.1          py312hca03da5_0  
jupyterlab_widgets        1.0.0              pyhd3eb1b0_1    anaconda
kiwisolver                1.4.4           py312h313beb8_0  
krb5                      1.20.1               hf3e1bf2_1    anaconda
lcms2                     2.12                 hba8e193_0  
lerc                      3.0                  hc377ac9_0  
libbrotlicommon           1.0.9                h80987f9_8  
libbrotlidec              1.0.9                h80987f9_8  
libbrotlienc              1.0.9                h80987f9_8  
libclang                  14.0.6          default_h1b80db6_1    anaconda
libclang13                14.0.6          default_h24352ff_1    anaconda
libcxx                    14.0.6               h848a8c0_0  
libdeflate                1.17                 h80987f9_1  
libedit                   3.1.20221030         h80987f9_0    anaconda
libffi                    3.4.4                hca03da5_1  
libgfortran               5.0.0           11_3_0_hca03da5_28  
libgfortran5              11.3.0              h009349e_28  
libiconv                  1.16                 h1a28f6b_2    anaconda
libllvm14                 14.0.6               h7ec7a93_3    anaconda
libopenblas               0.3.21               h269037a_0  
libpng                    1.6.39               h80987f9_0  
libpq                     12.15                h02f6b3c_1    anaconda
libsodium                 1.0.18               h27ca646_1    conda-forge
libtiff                   4.5.1                h313beb8_0  
libwebp-base              1.3.2                h80987f9_0  
libxgboost                2.0.3                h313beb8_0  
libxml2                   2.10.4               h0dcf63f_1    anaconda
llvm-openmp               14.0.6               hc6e5704_0  
lz4-c                     1.9.4                h313beb8_1  
markupsafe                2.1.1           py312h80987f9_0    anaconda
matplotlib-base           3.8.4           py312hd77ebd4_0  
matplotlib-inline         0.1.7              pyhd8ed1ab_0    conda-forge
mistune                   2.0.4           py312hca03da5_0    anaconda
mysql                     5.7.24               ha71a6ea_2    anaconda
nbclient                  0.5.11             pyhd3eb1b0_0    anaconda
nbconvert                 7.10.0          py312hca03da5_0  
nbformat                  5.9.2           py312hca03da5_0  
ncurses                   6.4                  h313beb8_0  
nest-asyncio              1.6.0              pyhd8ed1ab_0    conda-forge
notebook                  7.0.8           py312hca03da5_0  
notebook-shim             0.2.3           py312hca03da5_0  
numexpr                   2.8.7           py312h0f3ea24_0  
numpy                     1.26.4          py312h7f4fdc5_0  
numpy-base                1.26.4          py312he047099_0  
openjpeg                  2.3.0                h7a6adac_2  
openssl                   3.0.13               h1a28f6b_1  
overrides                 7.4.0           py312hca03da5_0  
packaging                 24.0               pyhd8ed1ab_0    conda-forge
pandas                    2.2.1           py312hd77ebd4_0  
pandocfilters             1.5.0              pyhd3eb1b0_0    anaconda
parso                     0.8.4              pyhd8ed1ab_0    conda-forge
pcre                      8.45                 hc377ac9_0    anaconda
pexpect                   4.9.0              pyhd8ed1ab_0    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    10.3.0          py312h80987f9_0  
pip                       23.3.1          py312hca03da5_0  
platformdirs              4.2.1              pyhd8ed1ab_0    conda-forge
ply                       3.11            py312hca03da5_1    anaconda
prettytable               3.5.0           py312hca03da5_0  
prometheus_client         0.14.1          py312hca03da5_0    anaconda
prompt-toolkit            3.0.43          py312hca03da5_0  
prompt_toolkit            3.0.43               hd3eb1b0_0  
psutil                    5.9.0           py312h80987f9_0  
ptyprocess                0.7.0              pyhd3deb0d_0    conda-forge
pure_eval                 0.2.2              pyhd8ed1ab_0    conda-forge
py-xgboost                2.0.3           py312hca03da5_0  
pybind11-abi              5                    hd3eb1b0_0  
pycparser                 2.21               pyhd3eb1b0_0    anaconda
pygments                  2.18.0             pyhd8ed1ab_0    conda-forge
pyopenssl                 23.2.0          py312hca03da5_0    anaconda
pyparsing                 3.0.9           py312hca03da5_0  
pyqt                      5.15.10         py312h313beb8_0    anaconda
pyqt5-sip                 12.13.0         py312h80987f9_0    anaconda
pysocks                   1.7.1           py312hca03da5_0    anaconda
python                    3.12.3               h99e199e_0  
python-dateutil           2.8.2              pyhd3eb1b0_0  
python-fastjsonschema     2.16.2          py312hca03da5_0    anaconda
python-json-logger        2.0.7           py312hca03da5_0    anaconda
python-tzdata             2023.3             pyhd3eb1b0_0  
pytz                      2024.1          py312hca03da5_0  
pyyaml                    6.0.1           py312h80987f9_0    anaconda
pyzmq                     25.1.2          py312h313beb8_0  
qt-main                   5.15.2              h0917680_10    anaconda
qtconsole                 5.3.0              pyhd3eb1b0_0    anaconda
qtpy                      2.4.1           py312hca03da5_0  
readline                  8.2                  h1a28f6b_0  
referencing               0.30.2          py312hca03da5_0  
requests                  2.31.0          py312hca03da5_0    anaconda
rfc3339-validator         0.1.4           py312hca03da5_0    anaconda
rfc3986-validator         0.1.1           py312hca03da5_0    anaconda
rpds-py                   0.10.6          py312hf0e4da2_0    anaconda
scikit-learn              1.4.2           py312hd77ebd4_1  
scipy                     1.13.0          py312hfa28a95_0  
seaborn                   0.12.2          py312hca03da5_0  
send2trash                1.8.2           py312hca03da5_0  
setuptools                68.2.2          py312hca03da5_0  
sip                       6.7.12          py312h313beb8_0    anaconda
six                       1.16.0             pyhd3eb1b0_1  
sniffio                   1.2.0           py312hca03da5_1    anaconda
soupsieve                 2.5             py312hca03da5_0    anaconda
sqlite                    3.45.3               h80987f9_0  
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
terminado                 0.17.1          py312hca03da5_0    anaconda
threadpoolctl             2.2.0              pyh0d69192_0  
tinycss2                  1.2.1           py312hca03da5_0    anaconda
tk                        8.6.14               h6ba3021_0  
tornado                   6.3.3           py312h80987f9_0  
traitlets                 5.14.3             pyhd8ed1ab_0    conda-forge
types-python-dateutil     2.9.0.20240316           pypi_0    pypi
typing-extensions         4.7.1           py312hca03da5_0    anaconda
typing_extensions         4.7.1           py312hca03da5_0    anaconda
tzdata                    2024a                h04d1e81_0  
unicodedata2              15.1.0          py312h80987f9_0  
uri-template              1.3.0                    pypi_0    pypi
urllib3                   1.26.18         py312hca03da5_0    anaconda
wcwidth                   0.2.13             pyhd8ed1ab_0    conda-forge
webcolors                 1.13                     pypi_0    pypi
webencodings              0.5.1           py312hca03da5_2    anaconda
websocket-client          0.58.0          py312hca03da5_4    anaconda
wheel                     0.43.0          py312hca03da5_0  
widgetsnbextension        3.6.6           py312hca03da5_0  
xgboost                   2.0.3           py312hca03da5_0  
xz                        5.4.6                h80987f9_1  
yaml                      0.2.5                h1a28f6b_0    anaconda
zeromq                    4.3.5                h313beb8_0  
zipp                      3.17.0             pyhd8ed1ab_0    conda-forge
zlib                      1.2.13               h18a0788_1  
zstd                      1.5.5                hd90d995_2  
